.section8{
background-image: url(../img/section8_background.png);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: auto;
height: 400px;
background-position: 0% 100%;
margin-bottom: 100px; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

.section8__text{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 30px;
margin-bottom: 30px;
}


.section8__text--title{
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}
.section8__text--title::before{
content: "[";
color: #fec12b;
}
.section8__text--title::after{
content: "]";
color: #fec12b;
}

.section8__text--info{
font-size: 16px;
font-family: 'Didact Gothic', sans-serif;
font-weight: 600;
width: 200px;
text-align: center;
margin: auto;
color: #ffffff;
}
.section8_text_row{
    font-size: 16px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
    width: 200px;   
    text-align: center;
    margin: auto;
    color: #ffffff;
}


.section8_planet_img{
    display: none;
}
.section8__sertificate{
position: relative;
width: 40%;
height: 50%;

}

.img_certificate{
position: absolute ;
width: auto;
height: 236px;

}

.first{
z-index: 3;
left: 20%;
top: 20px;
height: 200px;
width: auto;
}

.second{
z-index: 5;
left: 60%;

}


.third{
z-index: 3;
left: 115%;
top: 15px;
height: 205px;
width: auto;
}





/* ///////////////////////////////////// */
@media ( min-width: 768px){

.section8{
    width: 100%;
    background-image: url(../img/section8_background_tablet.png);
    background-position: center ;
    height: 660px;
    padding-top: 50px;
    margin-bottom: 100px;
}
.section8__text{
    display: flex;
    text-align: center;
    width: 100%;
    margin-right: 0;
}

.section8__text--title{
    text-align: left;
    margin-left: 80px;
    margin-bottom: 45px;
    font-size: 25px;
}

.section8__text--info{
    width: 300px;
    text-align: left;
    margin-left: 80px;
    font-size: 25px;
    font-weight: 800;
    margin-right: 100px;
}

.section8_text_row{
    font-size: 25px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
    margin: auto;
    color: #ffffff;
    text-align: start;
}
.section8_planet_img{
    display: inline-block;
    position: absolute;
    bottom: 75%;
    left: 55%;
    width: 235px;
}
.section8__sertificate{
    margin-left: 90px;
    /* background-image: url(../img/confeti_tablet.png); */
    width: 900;
    height: auto;
    opacity: 1 ;
    z-index: 9;
    
}
.img_certificate{
    width: 230px;
    height: auto;

}

.first{
    left: 35%;
    height: auto;
    width: 190px;
}
.section8__div_second_sertificate{
    background-image: url(../img/confeti_tablet.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 500px;
}
.second{
    left: 60%;
    /* background-image: url(../img/confeti_tablet.png); */
    /* background-repeat: no-repeat; */
    /* width: 100%;
    height: auto; */
}

.third{
    left: 99%;
    height: auto;
    width: 190px;
}



}

/* ////////////////////////////////////////// */


@media ( min-width: 1200px){

.section8{
    background-image: url(../img/section8_background_1200px.png);
    width: 1200px;
    height: auto;
    background-size: cover;
    background-position: center; 
    margin-right: 0;
    background-position: center;
}
.wraper{
    display: flex;
    /* justify-content: ; */
}
.section8__text{
    margin-left: 210px;
    display: inline-block;
    margin-right: 10px;
  
}

.section8__text--title{
    margin-top: 170px;
}
.section8__text--info{
    margin-right: 0;
}


.section8_planet_img{
top: 33%;
left: 106%;
}
.section8__sertificate{
    margin-left: 0px;
    width: 700px;
    height: 700px;
    position: relative;
    /* top: 100%; */
    /* bottom: ; */
}
.section8__div_second_sertificate{
    position: absolute;
  
}
.first{
    position: absolute;
    top: 7%;
    left: 0%;
    width: 235px;
}

.second{
    position: absolute;
    top: 0%;
    left: 20%;
    width: 300px;

}

.third{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 250px;
}



}
